extends base-layout

block body

    include ../includes/header

    main
        .container

            block full

            .row
                .col.s12.m4.l3
                    .page-sidebar
                        block sidebar
                .col.s12.m8.l9
                    .page-content
                        block content

    include ../includes/footer