.navbar-fixed
    nav.indigo.darken-2(role='navigation')
        .nav-wrapper.container
            a.brand-logo(href=url('index')) Blitz
            a.button-collapse(href='#', data-activates='mobile-demo')
                i.material-icons menu
            ul.right.hide-on-med-and-down
                li
                    a(href=url('index'))!= '<i class="material-icons left">info_outline</i> Home'
                li
                    a(href=url('docs'))!= '<i class="material-icons left">library_books</i> Documentation'
                li
                    a(href=url('changelog'))!= '<i class="material-icons left">view_list</i> Changelog'
            ul#mobile-demo.side-nav
                li
                    a(href='sass.html') Sass
                li
                    a(href='badges.html') Components
                li
                    a(href='collapsible.html') Javascript
                li
                    a(href='mobile.html') Mobile