extends layouts/main-layout

block content

    .section.no-pad-bot
        .container
            br
            br
            br
            .center
                img.responsive-img.center(src=asset('img/blitz-logo.png') alt='Blitz Static Site Generator')
            br
            .row.center
                h5.header.col.s12.light Dead simple static site generator running on Node.js
            .row.center
                a.btn-large.hoverable.waves-effect.waves-light.blue.darken-2(href=url('quick-start'))
                    != '<i class="material-icons left">grade</i> Quick Start'
                | &nbsp;
                a.btn-large.hoverable.waves-effect.waves-light.indigo.darken-2(href=url('docs'))
                    != '<i class="material-icons left">library_books</i> Docs'
                | &nbsp;
                a.btn-large.hoverable.waves-effect.waves-light.indigo.darken-2(href='https://github.com/TimboKZ/blitz')
                    != '<i class="material-icons left">settings_ethernet</i> Source Code'
            br
            br

    .section
        .container
            .row
                .col.push-m2.m8.s12.lead!= content